# === IDE / 编辑器 ===
*.iml
*.swp
.codebuddy/
.idea/
.vscode/

# === 操作系统 ===
.DS_Store

# === 调试 / 临时 ===
debug/
openspec

# === Java / Maven ===
.flattened-pom.xml
target/

# === Python ===
source/python/dist
venv/

# === Rust ===
Cargo.lock
source/rust/polaris-specification/target
